<a href="https://colab.research.google.com/github/mameaicha/gomycodeMAC/blob/main/API_to_Pandas_Dataframe_checkpoint.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#1. Go to the OMDb API website (https://www.omdbapi.com/apikey.aspx) and obtain an API key.

# 2. Install the requests and pandas libraries if you have not already done so.

# 3. Use the requests library to send a request to the OMDb API to retrieve data about the top 10 movies.

In [1]:
import requests

In [19]:
api_url = "http://www.omdbapi.com/?i=tt3896198&apikey=7a80b9b8"
response = requests.get(api_url)

# 4. Parse the data using the json library to extract the title, year, director, and rating for each movie.

In [20]:
data=response.json()

# 5. Store the extracted data in a pandas dataframe with appropriate column names.

In [13]:
import pandas as pd
df = pd.DataFrame(data, columns=['Title', 'Year', 'Rated', 'Released','Runtime','Genre','Director','Writer','Actors','Plot','Language','Country','Awards','Poster','Ratings','Metascore','imdbRating','imdbVotes','imdbID','Type','DVD','BoxOffice','Production','Website','Response'])

# 6. Print the dataframe to verify that the data has been successfully stored.

In [22]:
df.head()

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,Metascore,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response
0,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"725,527",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True
1,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"725,527",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True
2,Guardians of the Galaxy Vol. 2,2017,PG-13,05 May 2017,136 min,"Action, Adventure, Comedy",James Gunn,"James Gunn, Dan Abnett, Andy Lanning","Chris Pratt, Zoe Saldana, Dave Bautista",The Guardians struggle to keep together as a t...,...,67,7.6,"725,527",tt3896198,movie,22 Aug 2017,"$389,813,101",N/A,N/A,True